:root{
  --color-white: #FFF;
  --color-dark1: #272727;
  --color-dark2: #2d2d2d;
  --color-dark3: #414141;
  --color-dark4: #1c1c1c;
  --color-dark5: #343434;
  --color-purple:#50398c;
  --color-backgroundembreve: #f3f3f3;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: var(--color-white);
}

body {
  /* background-color: lightgray; */
  /* background-image: url("https://images.pexels.com/photos/5324856/pexels-photo-5324856.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");   */
  background-image: url("../src/pexels-anna-shvets-5324856.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
a{
  text-decoration: none;
}

.navigation_header a{
  color: var(--color-white);  
  transition: 0.1s;
  font-weight: bold;
}
.content{
  text-align: center;
  padding-top: 5em;
  height: 100vh;
  transition: 0.2s;
}


@media screen and (max-width: 768px) {
  .btn_icon_header{
    display: block;
  }
  .navigation_header{
    position: absolute;
    flex-direction: column;
    top: 0;
    background-color: var(--color-dark5);
    height: 100%;
    width: 35vw;
    animation-duration: 2s;
    margin-left: -100vw;
  }
  .img_logo_header{
    display: none;
  }
}
@keyframes showSidebar {
  from{margin-left: -100vw;}
  top{margin-left: -10vw;}
}
